# ========================
# Секрети та конфігурації
# ========================
.env
.env.*
*.pem
secret.txt

# ========================
# Віртуальне середовище Python
# ========================
venv/
.venv/
env/
ENV/

# ========================
# Кеш Python та системні файли
# ========================
__pycache__/
*.py[cod]
*$py.class
*.so

# ========================
# Налаштування редакторів (PyCharm / VSCode)
# ========================
.idea/
.vscode/
*.swp
*.swo

# ========================
# Фронтенд (JS/TS)
# ========================
node_modules/
dist/
build/
.npm/

# ========================
# Системні файли ОС
# ========================
.DS_Store
Thumbs.db